/*Definições Gerais*/
html{
    height: 100%;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
/* Header */
.cabecalho{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
.nome {
    margin: auto 10px;
}
.esquerda{
    display: flex;
    flex-wrap: wrap;
    margin: auto 20px;
}
.esquerda img {
    width: 50px;
    height: 50px;
}
.direita{
    display: flex;
    flex-wrap: wrap;
    margin: auto 0px;
}
.notificacao{
    margin: auto 10px;
}

.notificacao a {
    text-decoration: none;
    color: white;
}

.user{
    margin: auto 10px;
}

.user a {
    text-decoration: none;
    color: white;
}
/* Aside*/
span{
    color: grey;
}

aside{
    margin: 20px 20px;
    width: 5%;
    float: left;
}

.navegacao{
    display: flex;
    flex-wrap: wrap;
    width:3%;
}

.resto div{
    margin-bottom: 30px;
}

.abrir i{
    margin-bottom: 25px;
}

.bar{
    margin-top: 20px;
}

.bar .resto a i{
    margin: 15px auto;
    align-items: center;
}

.bar .resto{
    display: none;
}

.bar:hover .resto{
    display: block;
}

.home{
    margin: 15px 5px;   
}

.home:hover{
    transform: scale(1.1);
}

.money{
    margin: 20px 15px;
}

.money:hover{
    transform: scale(1.1);
}

.users1{
    margin: 20px 5px;
}

.user1:hover{
    transform: scale(1.1);
}

.users2{ 
    margin: 20px 5px;
}

.users2:hover{
    transform: scale(1.1);
}

.receip{
    margin: 20px 12px;
}

.receip:hover{
    transform: scale(1.1);
}

.rotate{
    margin: 20px 10px;
}

.rotate:hover{
    transform: scale(1.1);
}

.navegacao div a{
    text-decoration: none;
    color: black;
}
/*FIM Aside*/
/*Body*/
.cima div h1{
    margin-bottom: 20px;
}
.cima div p{
    margin-bottom: 20px; 
}

.cima div{
    margin-top : 5%;
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 5%;
}
.cima{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;

}
.Espacos{
    margin-right: 0%;

}
.Financeiro{
    margin-right: 5%;
    margin-left: 1%;
}
.EntradaProfissionais{
    margin-right: 5%;
}

.baixo div{
    background-color: lightgray;
    padding: 20px;
    margin-bottom: 20.8%;
}
.baixo div h1{
    margin-bottom: 20px;
}

.baixo div p{
    margin-bottom: 20px; 
}
.baixo{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.AContratar{
    margin-right: 0%;
    
}

.InfoEnfermeiros{
    margin-right: 5%;
    margin-left: 7.2%;
}

.DadosPacientes{
    margin-right: 5%;
}


/*Footer*/
.footer{
    background-color: black;
    width: 100%;
    position: relative;
    color: white;
    padding: 20px;
    bottom: 0;
    float: right;

    
}
